/* ========================

        Introdução

=========================*/
main section.introducao {
        display: flex;
        padding: 8vw 8vw 8vw 8vw;
        justify-content: center;
}

main section.introducao div.titleInicio h1 {
        font-family: "Italiana", sans-serif;
        font-size: 8rem;
        text-align: center;
}

main section.introducao div.titleInicio p {
        color: #11091A;
        font-family: "Jacques Francois", sans-serif;
        font-size: 2.2rem;
        text-align: center;
}



/* ========================

        Conteúdo

=========================*/
main section.conteudo {
        background-color: #626970;
}

main section.conteudo div.informacoeses {
        display: flex;
        justify-content: center;
}

main section.conteudo div.informacoeses div {
        
        justify-content: center;
}

main section.conteudo div.informacoeses div h3 {
        text-align: center;
}

main section.conteudo div.informacoeses div p {
        text-align: center;
        
}



/* ========================

        Procarionte

=========================*/



/* ========================

        Eucarionte

=========================*/