/* Arranco o dedo de quem mexer no meu css */

/*mexi mano dsculpa*/

html {
    background-color:  #626970;
}

.intro {
    text-align: center;
    background-color: #BAB195;
}

.intro h1 {
    font-size: 8rem;
    font-family: "Italiana", sans-serif;
    padding: 6vw 10vw 2vw 10vw;
}

.intro p {
    font-family: "Jacques Francois", sans-serif;
    font-size: 2rem;
    color: #11091A;
    padding: 2vw 10vw 6vw 10vw;
}
.intro div {
    margin-bottom: 8vw;
}


summary {
    list-style: none;
}
 .explicacao h3 {cursor: pointer;
    background-color: #11091A;
    margin: 4vw 5vw 4vw 5vw;
    padding: 3vw 2vw 3vw 5vw;
    border-radius: 20px;
    text-align: center;
    font-family: "Italiana", sans-serif;
   
    
}
.explicacao h3:hover {
    text-decoration: underline;
}

.explicacao p {
    background-color: #11091A;
    margin: 0 5vw 3vw 5vw;
    padding: 5vw 10vw 5vw 10vw;
    border-radius: 20px;
    line-height: 2.5rem;
}

footer {
    margin-top: 6vw;
}