/*------------------------
        Primeira divisão
--------------------------*/




p {
        padding: 2vw 0 1vw 0;
}

main section.explicacao {
        background-color: #BAB195;
}

main section.explicacao h1 {
        font-family: "Italiana", sans-serif;
        color: #11091A;
        font-size: 8rem;
        padding: 4vw 0 3vw 0;
        text-align: center;
}

main section.explicacao p {
        color: #11091A;
        font-family: "Jacques Francois", sans-serif;
        font-size: 2.2rem;
        text-align: center;
        padding: 1vw 10vw 4vw 10vw;
}



main section.organelas p {
        line-height: 3rem;


}

main section.organelas div.container {
        background-color: #626970;
        display: flex;
        justify-content: center;
        padding: 0 10vw 0 10vw;
}

main section.organelas div.container ul {
        text-decoration: none;
        color: #E8D18E;
        font-family: "Italiana", sans-serif;
        font-size: 4rem;
        justify-content: center;
        text-align: center;
        padding: 3vw 0 3vw 0;

}

main section.organelas div.container li {
        list-style: none;
        font-weight: bold;
        cursor: pointer;
        overflow: hidden;
        white-space: nowrap;
        padding: 3vw;
        margin: 0 2vw 0 2vw;
}

main section.organelas div.container li:hover {
        transform: scale(1.1);
}

hr.divisoriaMaior {
        border: #11091A solid 1px
}

hr.divisoriasMenores {
        border: none;
        height: 2px;
        background-color: #11091A;


}


a,abbr {
        text-decoration: none;
        color: #E8D18E;
    }


