/* ========================

          Início

=========================*/
html section a {
    border: #11091A 5px solid;
    background-color: #2F2F4D;
    border-radius: 0.5vw;
    text-decoration: none;
    color: #BAB195;
    font-family: "Jacques Francois", serif;
    font-size: 1.5rem;
    padding: 0.7vw 2vw 0.7vw 2vw;
}

section.introducaoCitologia div.areaInicio {
    display: flex;
    margin: 10vw 10vw 8vw 10vw;
    justify-content: space-between;
}

main section.introducaoCitologia div.areaInicio div.titleInicio h1 {
    font-family: "Italiana", sans-serif;
    font-size: 8rem;
}

main section.introducaoCitologia div.areaInicio div.titleInicio p {
    font-family: "Jacques Francois", sans-serif;
    font-size: 2.2rem;
    text-align: center;
    padding: 5vw 0 0 0;
    line-height: 3rem;
    color: #11091A;
}



/* ========================

     O'que é Citologia?

=========================*/
main section.saibaMaises {
    background-color: #626970;
}

main section.saibaMaises div.explicacaoCitologia p {
    padding: 4vw 0 4vw 0;
    font-size: 1.7rem;
    font-family: "Jacques Francois", sans-serif;
    text-align: center;
    color: #BAB195;
    margin: 0 25vw 0 25vw;
    line-height: 2.5rem;
}



/* ========================

   Link para os conteúdos

=========================*/
main section.conteudo div.linkises {
    background-color: #626970;
    padding: 2.5vw 0 2.5vw 0;
}



/*__________

 Alternado

__________*/
/*
links 1
*/

main section.conteudo div.linkises div.saiba0 {
    display: flex;
    text-align: center;
    padding: 2vw 0 2vw 0;
    border: #11091A 10px solid;
    justify-content: center;
    border-radius: 2vw;
    margin: 0 10vw 0 10vw;
    background: linear-gradient(rgba(0, 0, 0, 0.650), rgba(0, 0, 0, 0.650)), url('eucarionteprocarionte.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

main section.conteudo div.linkises div.saiba0 div.img {
    padding: 0 0 0 5vw;
}

main section.conteudo div.linkises div.saiba0 div.link {
    padding: 3vw 0 3vw 0;
}

main section.conteudo div.linkises div.saiba0 div.link p {
    padding: 2vw 10vw 3vw 10vw;
}



/*
links 2*/

main section.conteudo div.linkises div.saiba1 {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 2vw 0 2vw 0;
    border: #11091A 10px solid;
    border-radius: 2vw;
    margin: 0 10vw 0 10vw;
    background: linear-gradient(rgba(0, 0, 0, 0.650), rgba(0, 0, 0, 0.650)), url('background01.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


main section.conteudo div.linkises div.saiba1 div.img {
    padding: 0 0 0 5vw;

}

main section.conteudo div.linkises div.saiba1 div.link {
    padding: 3vw 0 3vw 0;

}

main section.conteudo div.linkises div.saiba1 div.link p {
    padding: 2vw 10vw 3vw 10vw;
}

/*
links 3
*/

main section.conteudo div.linkises div.saiba2 {
    display: flex;
    text-align: center;
    padding: 2vw 0 2vw 0;
    border: #11091A 10px solid;
    justify-content: center;
    border-radius: 2vw;
    margin: 0 10vw 0 10vw;
    background: linear-gradient(rgba(0, 0, 0, 0.650), rgba(0, 0, 0, 0.650)), url('organela.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

main section.conteudo div.linkises div.saiba2 div.img {
    padding: 0 0 0 5vw;
}

main section.conteudo div.linkises div.saiba2 div.link {
    padding: 3vw 0 3vw 0;
}

main section.conteudo div.linkises div.saiba2 div.link p {
    padding: 2vw 10vw 3vw 10vw;
}

/*
links 4
*/

main section.conteudo div.linkises div.saiba3 {
    display: flex;
    text-align: center;
    padding: 2vw 0 2vw 0;
    border: #11091A 10px solid;
    justify-content: center;
    border-radius: 2vw;
    margin: 0 10vw 0 10vw;
    background: linear-gradient(rgba(0, 0, 0, 0.650), rgba(0, 0, 0, 0.650)), url('divisaoCelular.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

main section.conteudo div.linkises div.saiba3 div.img {
    padding: 0 0 0 5vw;
}

main section.conteudo div.linkises div.saiba3 div.link {
    padding: 3vw 0 3vw 0;
}

main section.conteudo div.linkises div.saiba3 div.link p {
    padding: 2vw 10vw 3vw 10vw;
}