/* ========================

        Reset do CSS

=========================*/


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1.3;
}

ol,
ul {
    list-style: none;
}
Fase
blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ========================

        HTML Geral

=========================*/
html {
    background-color: #BAB195;
    scrollbar-width: none;
}

html div.divisao {
    background-color: #11091A;
    padding: 3vw 0 3vw 0;
}

html div.divisao h2 {
    color: #BAB195;
    text-align: center;
    font-family: "Jacques Francois", sans-serif;
    font-size: 2.5rem;
}

html b {
    color: #E8D18E;
}
summary.organelas {
    cursor: pointer;
    font-size: 2.3rem;
    padding: 3vw 0 1vw 0;
    color: #E8D18E;
}


html h3 {
    color: #E8D18E;
    font-size: 3rem;
    font-family: "Italiana", sans-serif;
    text-align: center;
    font-weight: bold;
}

html p {
    color: #BAB195;
    font-family: "Jacques Francois", sans-serif;
    font-size: 1.8rem;
    text-align: center;
    
}

a,abbr {
    text-decoration: none;
}






/* ========================

          Cabeçalho

=========================*/





header {
    background-color: #11091A;
}

header div nav ul {
    justify-content: right;
    display: flex;
    padding: 0 2vw 0 0;
}

header div nav ul li {
    list-style: none;
    padding: 2vw 1vw 2vw 1vw;
}

header div nav ul li a {
    text-decoration: none;
    color: #BAB195;
    font-family: "Jacques Francois", serif;
    font-size: 1.2rem;

}

header div nav ul li.separarInicio {
    padding: 2vw 42vw 0 0;
}

header nav a:hover {
    text-decoration: underline;
}


/* ========================

          Rodapé

=========================*/
footer {
    background-color: #11091A;
    color: #E8D18E;
    text-align: center;
    padding: 3vw 0 3vw 0;
}



/*---------------------------------------------------
                EU VOU PEGA NA PORRADA QUEM MUDAR ESSAS CLASS, ATT CAUÊ
----------------------------------------------------*/
.info-box {
    position: absolute;
    width: 60%;
    padding: 20px;
    background-color: #626970;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 10;
    transition: all 0.3s ease;
    Max-height: 80vh;
    Overflow-y: auto;
    Width: 60vw;
    scrollbar-width: none;
}

.info-box h2 {
    font-family: "Italiana", sans-serif;
    color: #E8D18E;
    text-align: center;
    font-size: 4rem;
    padding-bottom: 1vw;
}

.info-box img {
    margin: 2vw 20vw 2vw 20vw;
}





























div.content {
    display: none;
}
html a:hover {
    cursor: pointer;
    transform: scale(1.1);
}

div.content.active {
    display: block;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
    display: none;
}

.no-scroll {
    overflow: hidden;
}