







/* ========================

         MEIOCA ALTA

=========================*/
section.introducao div.area {
    display: flex;
    margin: 8vw 10vw 8vw 10vw;
    justify-content: space-between;
}

main section.introducao div.area div.title h1 {
    font-family: "Italiana", sans-serif;
    font-size: 10rem;
}

main section.introducao div.area div.title p {
    font-family: "Jacques Francois", sans-serif;
    font-size: 2.5rem;
    text-align: center;
    padding: 5vw 0 0 0;
    line-height: 3rem;
    color: #11091A;
}



/* ========================

         MEIOCA MÉDIA

=========================*/
main section.saibaMaises {
    background-color: #626970;
}

main section.saibaMaises div.explicacao p {
    padding: 4vw 0 4vw 0;
    font-size: 1.7rem;
    font-family: "Jacques Francois", sans-serif;
    text-align: center;
    color: #BAB195;
    margin: 0 25vw 0 25vw;
    line-height: 2.5rem;
}



/* ========================

         MEIOCA ÚLTIMA

=========================*/
main section.conteudo div.citologia {
    background-color: #626970;
    padding: 2.5vw 0 2.5vw 0;
}



/*__________

 Alternado

__________*/
/*
links 1
*/
main section.conteudo div.citologia div.saiba0 {
    display: flex;
    text-align: center;
    padding: 2vw 0 2vw 0;
    border: #11091A 10px solid;
    justify-content: center;
    border-radius: 2vw;
    margin: 0 10vw 0 10vw;
    background-image: url('celulas.jpg');
    /* Adicione sua imagem de fundo aqui */
    background-size: cover;
    /* Faz a imagem cobrir toda a div */
    background-repeat: no-repeat;
    /* Não repete a imagem */
    background-position: center;
    /* Centraliza a imagem */
}

main section.conteudo div.citologia div.saiba0 div.img {
    padding: 0 0 0 5vw;
}

main section.conteudo div.citologia div.saiba0 div.link {
    padding: 3vw 0 3vw 0;
}

main section.conteudo div.citologia div.saiba0 div.link p {
    padding: 2vw 0 3vw 0;
}



/*
links 2
*/
main section.conteudo div.citologia div.saiba1 {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 2vw 0 2vw 0;
    border: #11091A 10px solid;
    border-radius: 2vw;
    margin: 0 10vw 0 10vw;
    background: linear-gradient(rgba(0, 0, 0, 0.650), rgba(0, 0, 0, 0.650)), url('background01.jpg');
    /* Adicione sua imagem de fundo aqui */

    background-size: cover;
    /* Faz a imagem cobrir toda a div */
    background-repeat: no-repeat;
    /* Não repete a imagem */
    background-position: center;
    /* Centraliza a imagem */
}


main section.conteudo div.citologia div.saiba1 div.img {
    padding: 0 0 0 5vw;

}

main section.conteudo div.citologia div.saiba1 div.link {
    padding: 3vw 0 3vw 0;

}

main section.conteudo div.citologia div.saiba1 div.link p {
    padding: 2vw 10vw 3vw 10vw;
}




