:root{
        --preto:#11091A;
    --cinza:#626970;
    --bege:#BAB195;
    --cinza-claro: #a8a085 ;
    --cinza-escuro: #adadad21;
    }


/* ========================

        Introdução

=========================*/
main section.introducao {
        display: flex;
        padding: 8vw 8vw 8vw 8vw;
        justify-content: center;
}

main section.introducao div.titleInicio h1 {
        font-family: "Italiana", sans-serif;
        font-size: 8rem;
        text-align: center;
}

main section.introducao div.titleInicio p {
        color:var(--preto);
        font-family: "Jacques Francois", sans-serif;
        font-size: 2.2rem;
        text-align: center;
}



/* ========================

        Conteúdo

=========================*/
main section.conteudo {
        background-color: var(--cinza);
}

main section.conteudo div.informacoes {
        display: flex;
        justify-content: space-between;
        
}

main section.conteudo div.informacoes div {
        text-align: center;
        padding: 5vw 5vw 5vw 5vw;
        
}

main section.conteudo h3 {
        padding-bottom: 2vw;
}





/* ========================

        Procarionte

=========================*/



/* ========================

        Eucarionte

=========================*/